@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background: linear-gradient(
    135deg,
    rgb(15, 32, 39),
    rgb(32, 58, 67),
    rgb(44, 83, 100)
  );
}

.container {
  width: 600px;
  padding: 3rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.35);
  display: grid;
  gap: 3rem;
}

.uzd-1,
.uzd-2,
.uzd-3 {
  display: grid;
  gap: 1.5rem;
}

#didinimas,
#iveskSkaiciu,
#atgal,
#pirmyn,
#skaiciuoti,
#didinimoBtn,
#normalBtn,
#boldBtn,
#italicBtn,
#modeChanger,
#bulbBtn,
.carsBtn {
  align-self: start;
  font-size: 18px;
  padding: 0.8rem 1.4rem;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  box-shadow: 0 9px rgb(255, 255, 255);
  background: linear-gradient(135deg, rgb(95, 156, 255), rgb(122, 108, 255));
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;

  &:active {
    box-shadow: 0 4px rgb(255, 255, 255);
    transform: translateY(4px);
  }
}

p {
  margin: 0;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

#lygusNelygus,
#action,
#rezultatas {
  padding: 1rem;
  border-radius: 14px;
  font-size: 22px;
  text-align: center;
  background: rgba(255, 255, 255);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  color: rgb(0, 0, 0);
}

#count {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

#numeris,
#ugisInput,
#svorisInput,
#dydisInput,
#inputNumber,
#fontSizeChanger,
#updateCart {
  font-size: 18px;
  padding: 0.9rem 0.9rem;
  border-radius: 12px;
  border: none;
  background: rgba(255, 255, 255);
  color: rgb(0, 0, 0);
  outline: none;
  width: auto;
  text-align: center;

  &::placeholder {
    color: rgba(0, 0, 0, 0.6);
  }

  &:focus {
    border: none;
  }
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

ul {
  color: rgb(255, 255, 255);
}

table {
  td {
    border: 1px solid white;
    color: rgb(255, 255, 255);
  }
}

.fontchanger {
  display: grid;
  gap: 1rem;
  color: rgb(255, 255, 255);
  justify-items: center;

  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

#text {
  p {
    font-weight: 300;
  }
}

.dark-mode {
  background: rgb(15, 23, 42);
  color: rgb(229, 231, 235);
}

.nueto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .bulb {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: white;
    margin: 20px 0;
  }

  .on {
    background: yellow;
    box-shadow: 0 0 20px gold;
  }
}

.cars {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin: 0 auto;
  text-align: center;

  img {
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
  }
}

.car {
  background: rgba(255, 255, 255, 0.15);
  padding: 1rem;
  border-radius: 8px;
  padding-bottom: 40px;

  h3 {
    color: rgb(255, 255, 255);
  }
  p {
    padding: 10px 0;
    color: rgb(255, 255, 255);
  }
}

.car.active {
  background: linear-gradient(135deg, rgb(95, 156, 255), rgb(122, 108, 255));
}

.car button {
  align-self: start;
  font-size: 18px;
  padding: 0.8rem 1.4rem;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  box-shadow: 0 9px rgb(255, 255, 255);
  background: linear-gradient(135deg, rgb(95, 156, 255), rgb(122, 108, 255));
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;

  &:active {
    box-shadow: 0 4px rgb(255, 255, 255);
    transform: translateY(4px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.cart {
  width: 500px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 6px;
  color: white;
  background-color: rgb(87, 113, 124);

  .cart-header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    font-weight: bold;
    padding: 20px 0;
  }

  .cart-products {
    margin-top: 10px;
  }

  .cart-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 14px 0;
  }

  .product-info {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .product-info {
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .quantity {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .quantity {
    padding: 0 10px;
    button {
      font-size: 18px;
      padding: 0.6rem 1rem;
      border-radius: 14px;
      border: none;
      cursor: pointer;
      box-shadow: 0 9px rgb(255, 255, 255);
      background: linear-gradient(
        135deg,
        rgb(95, 156, 255),
        rgb(122, 108, 255)
      );
      transition:
        transform 0.15s ease,
        box-shadow 0.15s ease;

      &:active {
        box-shadow: 0 4px rgb(255, 255, 255);
        transform: translateY(4px);
      }
    }
  }

  .quantity span {
    min-width: 20px;
    text-align: center;
  }

  .total {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  #updateCart {
    align-self: start;
    font-size: 18px;
    padding: 0.8rem 1.4rem;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px rgb(255, 255, 255);
    background: linear-gradient(135deg, rgb(95, 156, 255), rgb(122, 108, 255));
    transition:
      transform 0.15s ease,
      box-shadow 0.15s ease;

    &:active {
      box-shadow: 0 4px rgb(255, 255, 255);
      transform: translateY(4px);
    }

    .cart-total {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.recipe {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  #recipeCard {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .customrange {
    padding: 1rem 0;
    display: grid;

    #customRange {
      padding: 2rem 0;
    }
  }
  .ingridients {
    padding: 1rem 0;
    color: white;

    #ingredientsList {
      text-align: left;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      line-height: 2;
      font-size: 20px;
    }
  }
}

.recipe-card {
  color: white;
  padding: 1rem 0;
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    height: 120px;
    object-fit: cover;
  }
  h3 {
    padding: 1rem 0;
    font-size: 16px;
  }
  p {
    font-size: 14px;
    text-align: left;
  }
}

.check {
  display: none;
  position: relative;

  img {
    top: -135px;
    right: -10px;
    position: absolute;
    width: 30px;
    height: 30px;
  }
}

.recipe-card.active .check {
  display: block;
}
